{% extends 'master.html' %}

{% block title %}Signup{% endblock %}


{% block content %}


<form method="post" class="row g-3">
    {% csrf_token %}
    <div class="col-md-6">
      <label for="username" class="form-label">Username</label>
      <input type="text" class="form-control" name="username" id="username">
    </div>
    <div class="col-md-6">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" name="email" id="email">
      </div>
    <div class="col-md-6">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" name="password" id="password">
    </div>
    <div class="col-md-6">
        <label for="confirm_password" class="form-label">confirm_password</label>
        <input type="password" class="form-control" name="confirm_password" id="confirm_password">
      </div>
   
    <div class="col-12">
      <button type="submit" class="btn btn-primary">Sign Up</button>
    </div>
  </form>


{% endblock %}